{% extends "./base_email.html" %}

{% block content %}
{% load i18n %}
<tr>
  <td align="center" style="padding: 50px 0 50px 0;">
    <h1 class="title" style="font-family: 'Assistant', sans-serif; color: #000000;">
      {% blocktrans %}Dear{% endblocktrans %} {{ user.get_full_name }}
    </h1>
  </td>
</tr>
<tr>
  <td>
    <p style="font-family: 'Assistant', sans-serif; font-size: 18px; color: #000000;line-height: 1.5;">
      {% blocktrans %}
      Please follow this link to confirm your registration: <a href="{{ site_host }}{{ email_confirmation_link }}" style="color: blue;">click here</a>
      {% endblocktrans %}
    </p>
    <p style="font-family: 'Assistant', sans-serif; font-size: 18px; color: #000000;line-height: 1.5;">
      <b>{% blocktrans %}The link will be valid for 12 hours{% endblocktrans %}</b>
    </p>
  </td>
</tr>
{% endblock content %}
